.page__header {
    max-width: 880px;
    padding-top: 45px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__header {
        width: calc(880 / 1024 * 100%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page__header {
        width: calc(581 / 768 * 100%);
    }
}

@media screen and (max-width: 767px) {
    .page__header {
        width: 100%;
        padding-top: 28px;
    }
}





