.popup__safe {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  margin: 48px auto 37px;
  padding-top: 14px;
  padding-bottom: 18px;
  display: block;
  width: 358px;
  color: white;
  background-color: black;
  border-radius: 2px;
  cursor: pointer;
}


 @media screen and (max-width: 767px) {
  .popup__safe {
    width: 238px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__safe {
     width: 358px;
     font-size: 18px;
     line-height: 22px;
     margin: 48px auto 37px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .popup__safe {
     width: 358px;
     font-size: 18px;
     line-height: 22px;
     margin: 48px auto 37px;
  }
}
