.popup__safe {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  margin: 48px auto 37px;
  padding: 0;
  display: block;
  width: 358px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 2px;
}

 @media screen and (max-width: 767px) {
  .popup__safe {
    width: 238px;
    margin: 45px auto 25px;
    line-height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__safe {
     width: 358px;
     font-size: calc(18/768*100vw);
     line-height: 50px;
     margin: 48px auto 37px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .popup__safe {
     width: 358px;
     font-size: calc(18/1024*100vw);
     line-height: 50px;
     margin: 48px auto 37px;
  }
}
