.popup__close {
  position: absolute;
  top: -35px;
  left: 435px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-color: rgba(28,28,28,0);
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
}


 @media screen and (max-width: 767px) {
  .popup__close {
    position: absolute;
    top: -50px;
    left: 250px;
    background-image: url(../../../images/close.svg);
    background-color: rgba(28,28,28,0);
    border: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__close {
      position: absolute;
      top: -35px;
      left: 430px;
  }
}
