.profile__rectangle {
  width:  150px;
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  border-radius: 2px;
  border: 2px solid #FFFFFF;
  background-color:rgba(0, 0, 0, 1);
  background-image: url(../../../images/Vector_plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__rectangle:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__rectangle {
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .profile__rectangle {
    width: 282px;
    height: 50px;
    margin-top: 36px;
   }
}

