.page__footer {
    padding-top: 67px;
    padding-bottom: 60px;
    padding-left: 200px;
}

@media screen and (max-width: 767px) {
    .page__footer {
        padding-top: calc(48 / 320 * 100%);
        padding-bottom: calc(36 / 320 * 100%);
        padding-left: calc(19 / 320 * 100%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page__footer {
        padding-top: calc(67 / 768 * 100%);
        padding-bottom: calc(60 / 768 * 100%);
        padding-left: calc(94 / 768 * 100%);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__footer {
        padding-top: calc(67 / 1024 * 100%);
        padding-bottom: calc(60 / 1024 * 100%);
        padding-left: calc(72 / 1024 * 100%);
    }
}

